<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                         initial-scale=1.0">
    <title>Message Encryption</title>
    <style> {{ css_str }} </style>
</head>

<body>
    <header>
        <h1 class="heading"><a href="https://github.com/JatinKevlani/message-encryption.git" target="_blank">Welcome to Message Encryption by Jatin Kevlani</a></h1>
        <!-- <h3 class="title">Sliding Login & Registration Form</h3> -->
    </header>

    <!-- container div -->
    <div class="container">

        <!-- upper button section to select
             the login or signup form -->
        <div class="slider"></div>
        <div class="btn">
            <button class="login">Encrypt</button>
            <button class="signup">Decrypt</button>
        </div>

        <!-- Form section that contains the
             login and the signup form -->
        <div class="form-section">

            <!-- Encrypt form -->
            <form action="/encrypt" method="post">
                {% csrf_token %}
                <div class="login-box">
                    <input type="text" name="message" class="email ele" placeholder="Your message">
                    <input type="password" name="password" class="password ele" placeholder="password">

                    <label for="remember">
                        <input name="otu" type="checkbox" id="remember">
                        One time use
                    </label>
                    <button class="clkbtn">Encrypt</button>
                </div>
            </form>

            <!-- Decrypt form -->
            <form action="/decrypt" method="post">
                {% csrf_token %}
                <div class="signup-box">
                    <!-- <input type="text" class="name ele" placeholder="Enter your name"> -->
                    <input type="text" name="user_enc" class="email ele" placeholder="Decrypted message">
                    <input type="password" name="password" class="password ele" placeholder="password">
                    <!-- <input type="password" class="password ele" placeholder="Confirm password"> -->
                    <button class="clkbtn">Decrypt</button>
                </div>
            </form>
        </div>
    </div>
    {% autoescape off %}
    <script defer> {{ js_str }} </script>
    {% endautoescape %}
</body>

</html>